ion-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &::part(scroll) {
    padding: 0 7px 7px 7px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

ion-card {
  margin: 0;
  border-radius: 5px;
}

.buttons-card {
  margin-bottom: 15px;
  ion-card-header {
    display: flex;
    flex-direction: column;
    gap: 7px;

    ion-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      ion-button {
        flex:1;
        --border-radius: 5px;
        margin: 0;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.deck-list {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 3px 0;
  width: 100%;

  .deck-card {
    min-height: 90px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    --border-radius: 5px;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;

    &::part(native) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      min-height: 90px;
      width: 100%;
    }
    
    .deck-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      flex:1;

      ion-label {
        font-size: 22px;
        font-weight: bold;
      }
    }
    .deck-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      font-size: 16px;
      flex:1;
      overflow: hidden;

      p {
        width: 100%;
        margin: 0;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

