ion-header {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  justify-content: center;

  ion-toolbar {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    position: relative;

    ion-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

ion-buttons {
  height: 100%;

  ion-button {
    height: 100%;

    ion-label {
      height: 100%;

      i {
        font-size: 30px;
      }
    }
  }
}
