<ion-content [fullscreen]="true">
  <div class="grid">
    <div class="row">
      <div class="column">
        <ion-button fill="clear" expand="full" color="secondary">
          <ion-label><i class='bx bxs-package' style="color: var(--ion-color-secondary);"></i>Decks</ion-label>
        </ion-button>
      </div>
      <div class="column">
        <ion-button fill="clear" expand="full">
          <ion-label><i class='bx bxs-flag-alt' style="color: var(--ion-color-primary);"></i>Goals</ion-label>
        </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="column" style="width: 100%;">
        <ion-button fill="clear" expand="full" color="secondary">
          <ion-label><i class='bx bx-play' style="color: var(--ion-color-secondary);"></i>Review Now</ion-label>
        </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <ion-button fill="clear" expand="full">
          <ion-label><i class='bx bx-stats' style="color: var(--ion-color-primary);"></i>Statistics</ion-label>
        </ion-button>
      </div>
      <div class="column">
        <ion-button fill="clear" expand="full" color="secondary">
          <ion-label><i class='bx bxs-cog' style="color: var(--ion-color-secondary);"></i>Settings</ion-label>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
